.SearchToken {
    position: absolute;
    margin: 0 auto;
    background-color: #1e1e1e;
    opacity: 88%;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 29rem;
    height: 39rem;
    /* background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    border: 1px solid rgba(255, 255, 255, 0.3); */
}

.SearchToken_box_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SearchToken_box_search {
    display: flex;
    align-items: center;
    background-color: #e44bca;
    color: #e44bca;
    padding: 0.5rem 1 rem;
    border-radius: 0.5rem;
    gap: 1rem;
    justify-content: flex-start;
}
/* I think it currently does nothing. no Style assigned in SearchToken.jsx */
.SearchToken_box_search input {
    background-color: transparent;
    outline: 0;
    border: 0;
    color: #ffffff;
    width: 90%;
}

.SearchToken_box_search input::placeholder {
    color: black; /* Placeholder text color */
}

/* searchbar component included */
.SearchToken_box_tokens {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    width: 26.6rem;
    /* height: 30rem; */
    max-height: 30rem; /* Set a max height */
    overflow-y: auto; /* Add overflow-y property for vertical scrolling */
    position: relative;
}

/* .SearchToken_box_tokens_container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 25px; 
    background-color: #1e1e1e; 
}

.SearchToken_box_tokens_container:hover::after {
    background-color: #e44bca; 
} */

/* actual tokens being listed */
.SearchToken_box_tokens span {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: 2px solid #e44bca;
    width: 24rem;
    padding: 0.25rem;
    border-radius: 1rem;
    cursor: pointer;
    flex-grow: 1;
    transition: background-color 0.2s, color 0.2s;
    /* background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    border: 1px solid rgba(255, 255, 255, 0.3); */
}

/* Add the following lines */
.SearchToken_box_tokens::-webkit-scrollbar {
    width: 8px;
}

.SearchToken_box_tokens::-webkit-scrollbar-thumb {
    background-color: #e44bca;
    border-radius: 4px;
}

.SearchToken_box_tokens::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

.tokenInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tokenInfo > :last-child {
    /* el.symbol */
    font-size: 10px;
}

/* .active {
    background-color: #4be48b;
    color: #1e1e1e;
} */
.SearchToken_box_tokens span:hover {
    background-color: #e44bca;
}

@media only screen and (max-width: 35em) {
    .SearchToken {
        width: 95%;
    }
    .SearchToken_box {
        position: relative;
        width: 95%;
    }
    .SearchToken_box_input input {
        width: 50%;
    }
    .SearchToken_box_tokens {
        display: flex;
        flex-wrap: wrap;
    }
}
