/* funding.module.css */

.main {
    max-height: 100vh; /* Set a maximum height for the main container */
    overflow-y: auto; /* Enable vertical scrolling within the main container */
    margin-top: 1rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    gap: 20px; /* Adjust the horizontal gap between buttons as needed */
}

.createButton {
    background-color: #e44bca;
    border-radius: 0.5rem;
    padding: 0.625rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    color: white;
    font-weight: bold;
    /* margin-left: 62px; */
    transition: transform 1.2s ease;
    margin: auto;
}

/* transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */

.createButton:hover {
    transform: scale(1.05); /* Adjust the scaling factor as needed */
}

.filter {
    display: flex;
    background-color: #e44bca;
    border-radius: 0.5rem;
    padding: 0.43rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    color: white;
    font-weight: bold;

    cursor: pointer;
    max-width: 90px; /* Set the initial or collapsed width */
    max-height: 45px;
    overflow: hidden; /* Hide the overflow content */
    transition: transform 1.2s ease, max-width 1.2s ease; /* Add transition on max-width property */

    margin: auto;
}

/* transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */

.filter:hover {
    /* transform: scale(1.05);  */
    max-width: 750px; /* Set the expanded width on hover */
    transition: transform 1.2s ease, max-width 2.5s ease; /* Adjust the transition duration for max-width on hover */
}

/* FML this is frustrating. the collapse looks very sudden and changing the max-width ease value is becoming confusing */

.searchBar {
    background-color: #e44bca;
    border-radius: 0.5rem;
    padding: 0.625rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    color: white;
    font-weight: bold;

    margin: auto; /* Push the filter and search bar to the right */
    transition: transform 1.2s ease;
}

/* transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */

.searchBar:hover {
    transform: scale(1.05); /* Adjust the scaling factor as needed */
}

.searchBar input {
    background-color: transparent;
    outline: 0;
    border: 0;
    color: #ffffff;
    width: 90%;
}

.searchBar input::placeholder {
    color: #ffffff; /* Placeholder text color */
}

/* filter tags */

.dropdownWrapper {
    position: relative;
    display: inline-block;
}

.dropdownIcon {
    position: absolute;
    top: 50%;
    right: 0.625rem;
    transform: translateY(-50%);
    pointer-events: none;
}

.select {
    width: 100%;
    padding: 0.5rem;
    background-color: #302f2f;
}

.selectedTags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.selectedTag {
    background-color: #1e1e1e;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

.removeTag {
    cursor: pointer;
    margin-left: 0.25rem;
}
